/* Estilos generales */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 98.9vw;
  /* background-image: url(../public/FondoContour\ Line.svg); */
  background-size: cover;
  font-family: 'Fira Sans Condensed', sans-serif;
}

code {
  font-family: 'Cabin', sans-serif;
}

.layout {
  width: 85%;
  margin: 0 auto;
}

/* Estilos Cabecera */

.header {

  border-top: 0.3em solid rgb(248, 234, 33);
  display: flex;
  align-items: center;
  border-bottom: 0.1em solid rgba(248, 234, 33, 0.363);
  background-color: #faf0c209;
  justify-content: space-between;

}

/* Estilos del logo  */

.header .logo {
  width: 10em;
  height: 5em;
  display: flex;
  background-size: 20em;
}

.header .logo span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: rgba(235, 192, 51, 0.651);
  transition: 300ms;
  cursor: pointer;
}

.header .logo span:hover {
  color: rgb(231, 199, 16);
}

/* Estilos menu de navegacion */

.header nav {
  width: 40em;
  display: flex;
  justify-content: end;
  margin-right: 1em;
}

.header nav ul {
  display: flex;
  width: 70em;
  justify-content: end;
  margin-left: 2em;
  align-items: center;
  list-style: none;
}

.header li {
  margin-left: 2em;
}

.header li a {
  color: rgb(68, 64, 64);
  border-bottom: 0.07em solid rgba(248, 234, 33, 0.397);
  font-size: 1.6em;
  font-weight: lighter;
  text-decoration: none;
  transition: all 500ms;
  /* letter-spacing: 0.1em; */
}

.header a:hover,
.header .active {
  color: rgb(231, 199, 16);
  font-size: 1.6em;
}


/* Estilos del content */

.content {
  /* min-height: 48.5em ; */
}

/* Estilos del footer */

.footer {
  /* position: absolute; */
  bottom: 0;
  height: 3em;
  margin-top: 10em;
  background-color: #f5f5f523;
  border-top: 0.1em solid rgba(248, 234, 33, 0.747);
  line-height: 3em;
  text-align: center;
  color: rgb(55, 56, 58);
  letter-spacing: 0.09em;
  /* padding-top: 1.3em; */
}

/* Estilos de la pagina de inicio - home */

.home h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-weight: 00; */
  font-size: 5em;
  font-weight: lighter;
  border-bottom: 0.07em solid rgba(248, 234, 33, 0.24);
}

.home strong {
  color: rgba(231, 199, 16, 0.76);
}

.home h2 {
  color: rgb(165, 159, 159);
  font-size: 3em;
  /* font-style: oblique; */
  font-weight: lighter;
}

.home h3 {
  color: rgb(165, 159, 159);
  font-size: 2em;
  /* font-family: sans-serif; */
  font-weight: 100;
}

.home a {
  color: rgba(226, 81, 13, 0.705);
  text-decoration: none;
  transition: all 300ms;
}

.home a:hover {
  color: rgb(243, 189, 39);
}

.page .heading,
.home .heading {
  font-size: 3em;
  color: rgb(236, 188, 30);
  font-weight: 500;
  font-style: italic;
  margin-bottom: 0;
}

.home p {
  color: rgb(172, 166, 152);
}

/* Estilos de la pagina de contacto - formulario */

input[type='text'],
textarea {
  display: block;
  padding: 2em;
  width: 20em;
  margin: 1em;
  border: 0.2em solid;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 14px #ddd;
}

input[type='submit'],
button {
  width: 5em;
  height: 3.5em;
  margin-left: 0.7em;
  margin-top: 0.5em;
  border-radius: 5%;
  background-color: rgb(212, 173, 44);
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
  letter-spacing: 0.09em;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(75, 65, 65);
  transition: all 300ms;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 14px #ddd;
}

input[type='submit']:hover,
button:hover {
  background-color: rgba(231, 138, 15, 0.938);
}

/* Estilos de la pagina de portafolio */

.works {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  flex-basis: 30%;
  flex-grow: 1;
  margin: 1em;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 14px #ddd;
}

.work-item .mask {
  width: 100%;
  height: 30em;
  overflow: hidden;
}

.work-item img {
  width: 100%;
  transition: all 2s;
}

.work-item .mask:hover img {
  width: 130%;
  margin-right: 0.5em;
}

.work-item span {
  display: block;
  color: rgb(63, 60, 60);
  margin-top: 25px;
  padding-left: 1em;
}

.work-item h2 {
  display: block;
  font-size: 2em;
  margin-top: 0.3em;
  padding-left: 1em;
}

.work-item a {
  color: rgb(61, 58, 58);
  text-decoration: none;
  transition: all 300ms;
}

.work-item a:hover {
  color: rgb(175, 160, 19);
}

.work-item h3 {
  display: block;
  color: grey;
  padding-top: 1em;
  border-top: 0.2em solid rgb(248, 234, 33);
  padding-left: 1.8em;
}

/* Estilos de la pagina de detalle */
.page-work .mask{
  margin-top: 5em;
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 20px #ddd ;
}

/* Estilos de la pagina de servicios */

.services{
  padding: 2em;
}

.service h2{
  font-size: 2em;
  font-weight: lighter;
  color: #504c4c;
  text-decoration: underline;
}

/* Estilos de la pagina de curriculum */

.page{
  padding: 2em;
}

.info-pagina-en-desarrollo{
  padding: 5em;
}

.page h2{
  
  font-weight: lighter;
  color: #52514f;
}

.wrapper{
  margin-bottom: 4em;
}

.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

/* Estilos de icono flotante */

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #f5c906;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
